*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    max-width: 1400px;
    display: block;
    margin: auto;
    min-height: 100vh;
    background: #191919;
    font-family: sans-serif;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    background: #1a1a1a;
}

nav{
    list-style: none;
    display: flex;
}

nav a{
    color: #fff;
    opacity: 0.5;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 30px;
    margin: 0 20px;
    line-height: 80px;
    transition: .5s;
    font-size: 20px;
}

a:hover, .active a{
    opacity: 1;
}

.name{
    color: rgba(255, 255, 255, 0.897);
    font-size: 120px;
    text-transform: capitalize;
    font-weight: 300;
    bottom: 100;

}

.main-page{
    width: 100%;
    height: 100vh;
    padding: 0 150px;
    display: flex;
    align-items: center;
    position: static;
    top: 0;
    transition: 1s;
    opacity: 1;

}

.photo{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    object-fit: cover;
    opacity: 0.2;
}


.content{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  margin: 0.5em;
  padding: 0 0 20 px 0;
}



.paragraphs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin: 0.5em;
    padding: 0 0 20 px 0;

}

.paragraphs > h2  {
    flex: 0 0 20%;
    text-align: right;
    border-right: 4px solid #fff;
    padding-right: 5%;
    font-size: 4vw;
    line-height: 1.1;
    
}

.paragraphs > div {
    flex: 0 0 75%;

}



/* Put headers on aside so they are in the same column */




.work-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.work-item {
    border: 5px solid turquoise;
    flex-basis: calc(50% - 16px);
    min-height: 200px;
    max-height: 200px;
    display: flex;
    margin: 8px;
    padding: 10px;
    background-size: 150%;

}

.work-item:first-child {
    min-height: 400px;
    flex-basis: 100%;
}


.work-image-1:hover, .work-image-2:hover, .work-image-3:hover, .work-image-4:hover, .work-image-5:hover {
    opacity: 0.4;
}
/* I understand that adding in hyperlinks is not the best way to add in images */

.work-image-1 {
    background-image: url("https://img.freepik.com/free-vector/gradient-abstract-mountain-background-design_23-2149178797.jpg");
    background-size: 100% ;
    background-repeat: no-repeat;
    opacity: 1.0;
}

.work-image-2 {
    background-image: url("https://images.unsplash.com/photo-1516417156595-3ca5df62a3a4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60");
    background-size: 100% ;
    background-repeat: no-repeat;
    background-position-y: bottom;
    opacity: 1.0;
}

.work-image-3 {
    background-image: url("https://t3.ftcdn.net/jpg/01/67/72/04/240_F_167720496_af8JnHFQM7QMyIIz31tgp289ukGtlXKB.jpg");
    background-size: 100% ;
    background-repeat: no-repeat;
    background-position-y:bottom;
    opacity: 1.0;
}

.work-image-4 {
    background-image: url("./images/Ski\ pic.jpg");
    background-size: 100% ;
    background-repeat: no-repeat;
    background-position-y: bottom ;
    opacity: 1.0;
}

.work-image-5 {
    background-image: url("https://thumbs.dreamstime.com/b/sea-water-ocean-wave-surfing-surface-colorful-vibrant-sunset-barrel-shape-124362369.jpg");
    background-size: 100% ;
    background-repeat: no-repeat;
    background-position-y: center;
    opacity: 1.0;
}




h2 {
    font: 150;
    color: rgba(255, 255, 255, 0.897);
    text-transform: capitalize;
    padding: 1;
    margin: 1;
    

}

h3 {
  color: #fff;
  text-transform: capitalize;
  text-decoration: none ;
  
  
}

p {
    color: #fff;
    text-decoration: none;
}

.description {
    padding-top: 110px;
}

.article-paragraph{
    margin-top: 2%;
    padding: 10;
    color: #fff;
}



.contact address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;

}

address a {
    display: inline-block;
    margin: 0 0.2rem 0.1rem;
    padding: 5px;
    font-size: 1.3rem;
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width: 992px) {
    header{
        background: purple
    }
    
}

@media screen and (max-width: 992px) {
    main{
        background: rgb(71, 1, 71)
    }
    
}

@media screen and (max-width: 992px) {
    body{
        background: rgb(71, 1, 71)
    }
    
}



